@media screen and (min-width: 1392px) {
  #tt2{
    width: 9rem;
  }
    #aaalll{

            height: 50rem;
    }
    #hqd{
        margin-left: 3rem;
        margin-top: 16rem;
    }
    #resqs{
        width: 8rem;
    }
    }