@media screen and (min-width: 1392px) {
  #ll2{
   
    width:25rem;
   
  }
  #txtx2{
    margin-left: 1rem;
  }
  
  #c{
    width: 1110px;
    margin-right: 1rem;
  }
  #ez{
   width: 650px;
  }
    #ez2{
        width: 650px;
        margin-right: 4rem;
    }
  #is{
    width: 1126px;
  }
   }
   @media screen and (min-width: 1600px) {
    #ll2{
     
      width:25.8rem;
     
    }
    #rr2{
      margin-left: 3.5rem;
    }
    #c{
      margin-left: 9rem;
      
    }
    #mla{
      width: 83rem;
      margin-left: -9rem;
    }
    #ez{
       margin-left: 4rem;

    }
    #za{
      margin-left: -4rem;
    }
    #is{
      width:83rem;
      margin-left: -9rem;
    }
    #squad{

    margin-left: 5rem;
    }
    #pg{
      margin-left: -4rem;
    }
     }